// Browser Context Sizing for unit/measurement
$browser-context: 10px;
$base-line-height: 1.5;
$base-letter-spacing: 0;

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Colors
$black: #000;
$white: #fff;
$warm-black: #212121;
$warm-white: #f7f7f7;
$red: #D00000;
$yellow: #ffd500;
$orange: #FB8500;
$green: #2a9d8f;
$blue: #3a86ff;
$secondary-prpl: #3c096C;
$third-prpl: #7678ed;
$primary-prpl: #5a189a;

// Breakpoints
$breakpoints: (
  xs: 500px,
  sm: 700px,
  md: 960px,
  lg: 1080px,
  xl: 1280px,
  xxl: 1400px
);

$xs: map-get($breakpoints, xs);
$sm: map-get($breakpoints, sm);
$md: map-get($breakpoints, md);
$lg: map-get($breakpoints, lg);
$xl: map-get($breakpoints, xl);
$xxl: map-get($breakpoints, xxl);

