.title {
  font-family: $font-primary;

  &--md{
    font-size: rem(22);
  }
  &--lg{
    font-size: rem(28);
  }
}

.text {
  font-size: rem(16);
  font-family: $font-secondary;
  color: $third-prpl;

  &--lg {
    font-size: rem(18);
  }
  &--md {
    font-size: rem(14);
  }
  &--sm {
    font-size: rem(12);
  }
}

.underline {
  border-bottom: 1px solid $warm-white;
}

